<div class="page-header">
  <h3>Icon #<%= @icon.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Icon name</dt>
      <dd><%= @icon.icon_name %></dd>

      <dt>Image</dt>
      <dd><img src="<%= @icon.image %>" class="img-responsive" width="200"></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/icons" class="btn btn-primary">
        Back
      </a>
      <a href="/icons/<%= @icon.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_icon/<%= @icon.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
